.list {
  background: rgba(22, 37, 94, 0.13);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border: 1px solid rgba(22, 37, 94, 0.46);
  color: white;
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 80vw;
}
.send-button.disabled {
  opacity: 0.5;
}
