html {
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  overflow-x: hidden;
  height: auto;
  position: relative;
}
body {
  overflow: hidden;
  position: relative;
}
.stars-div {
  overflow: hidden;
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  z-index: -99;
}

#stars {
  width: 1px;
  height: 1px;
  position: absolute;
  background: transparent;
  box-shadow: 1548px 69px #fff, 283px 687px #fff, 1146px 1841px #fff,
    1627px 1525px #fff, 707px 957px #fff, 684px 1818px #fff, 1379px 832px #fff,
    1370px 29px #fff, 392px 1171px #fff, 1979px 15px #fff, 83px 1411px #fff,
    434px 1688px #fff, 340px 1431px #fff, 494px 890px #fff, 1961px 118px #fff,
    1591px 1465px #fff, 1656px 1557px #fff, 1652px 1793px #fff, 1357px 79px #fff,
    517px 554px #fff, 1025px 184px #fff, 1539px 1616px #fff, 1291px 600px #fff,
    471px 1643px #fff, 922px 1579px #fff, 1919px 1198px #fff, 989px 936px #fff,
    1632px 1125px #fff, 970px 234px #fff, 659px 375px #fff, 1472px 441px #fff,
    973px 997px #fff, 611px 1360px #fff, 1883px 622px #fff, 310px 1329px #fff,
    1164px 666px #fff, 46px 460px #fff, 1733px 47px #fff, 747px 663px #fff,
    1497px 1446px #fff, 1619px 1279px #fff, 282px 1382px #fff,
    1812px 1228px #fff, 1859px 1440px #fff, 1284px 1735px #fff,
    1808px 1147px #fff, 680px 1722px #fff, 827px 1667px #fff, 321px 1752px #fff,
    347px 110px #fff, 1882px 1801px #fff, 1082px 1457px #fff, 524px 236px #fff,
    1864px 1639px #fff, 1684px 1110px #fff, 1847px 729px #fff, 746px 758px #fff,
    304px 796px #fff, 858px 1581px #fff, 1492px 247px #fff, 620px 1768px #fff,
    1584px 260px #fff, 430px 1890px #fff, 1607px 605px #fff, 965px 1435px #fff,
    21px 879px #fff, 1261px 361px #fff, 1694px 452px #fff, 573px 1298px #fff,
    1844px 1441px #fff, 1142px 1474px #fff, 743px 1150px #fff,
    1915px 1050px #fff, 1537px 1591px #fff, 1640px 1827px #fff,
    1130px 328px #fff, 540px 1805px #fff, 518px 593px #fff, 1689px 337px #fff,
    38px 38px #fff, 903px 1584px #fff, 1059px 1207px #fff, 6px 569px #fff,
    468px 293px #fff, 789px 434px #fff, 715px 401px #fff, 66px 1685px #fff,
    1098px 300px #fff, 1324px 1829px #fff, 139px 592px #fff, 1769px 1868px #fff,
    1781px 1895px #fff, 47px 1672px #fff, 22px 1896px #fff, 1359px 1558px #fff,
    93px 1958px #fff, 1731px 1345px #fff, 135px 591px #fff, 1557px 612px #fff,
    202px 1321px #fff, 706px 283px #fff, 1993px 585px #fff, 804px 1465px #fff,
    825px 1015px #fff, 1272px 1791px #fff, 842px 46px #fff, 636px 1495px #fff,
    67px 1620px #fff, 1071px 1195px #fff, 516px 202px #fff, 973px 21px #fff,
    534px 981px #fff, 119px 1033px #fff, 95px 868px #fff, 1026px 154px #fff,
    113px 1178px #fff, 755px 1481px #fff, 1183px 1949px #fff, 1204px 476px #fff,
    862px 1725px #fff, 332px 375px #fff, 1207px 638px #fff, 1256px 990px #fff,
    1382px 1001px #fff, 1463px 773px #fff, 1210px 1641px #fff,
    1966px 1739px #fff, 221px 1465px #fff, 1199px 1579px #fff, 166px 235px #fff,
    1977px 780px #fff, 136px 1003px #fff, 1412px 1708px #fff, 1796px 617px #fff,
    1378px 845px #fff, 1174px 1754px #fff, 127px 85px #fff, 133px 1138px #fff,
    497px 769px #fff, 339px 1692px #fff, 332px 288px #fff, 1103px 1216px #fff,
    1480px 628px #fff, 971px 1090px #fff, 935px 1254px #fff, 1235px 1508px #fff,
    392px 263px #fff, 253px 1092px #fff, 698px 691px #fff, 827px 1337px #fff,
    1703px 316px #fff, 398px 326px #fff, 1858px 635px #fff, 1281px 700px #fff,
    1999px 470px #fff, 435px 477px #fff, 1742px 1485px #fff, 1014px 592px #fff,
    779px 1178px #fff, 1627px 319px #fff, 637px 853px #fff, 417px 1703px #fff,
    500px 345px #fff, 1411px 624px #fff, 535px 1383px #fff, 627px 1502px #fff,
    15px 960px #fff, 1912px 1335px #fff, 1417px 873px #fff, 1743px 202px #fff,
    354px 422px #fff, 455px 1913px #fff, 77px 932px #fff, 1009px 790px #fff,
    967px 342px #fff, 479px 492px #fff, 231px 1810px #fff, 1532px 894px #fff,
    965px 779px #fff, 1461px 14px #fff, 1312px 432px #fff, 1871px 1166px #fff,
    1804px 1070px #fff, 686px 214px #fff, 1037px 666px #fff, 863px 50px #fff,
    115px 1951px #fff, 1711px 1083px #fff, 43px 1335px #fff, 998px 1780px #fff,
    654px 977px #fff, 130px 666px #fff, 1280px 1035px #fff, 1995px 1236px #fff,
    1827px 1609px #fff, 122px 51px #fff, 293px 1092px #fff, 592px 1919px #fff,
    281px 1747px #fff, 1193px 1505px #fff, 708px 674px #fff, 722px 1493px #fff,
    1177px 990px #fff, 1408px 1212px #fff, 294px 334px #fff, 1862px 788px #fff,
    1909px 280px #fff, 163px 233px #fff, 1719px 825px #fff, 106px 800px #fff,
    1594px 1489px #fff, 324px 761px #fff, 9px 1531px #fff, 1039px 1684px #fff,
    908px 1043px #fff, 1023px 1601px #fff, 165px 959px #fff, 938px 1858px #fff,
    65px 458px #fff, 1237px 1732px #fff, 1993px 169px #fff, 1641px 707px #fff,
    1174px 106px #fff, 197px 905px #fff, 74px 564px #fff, 1160px 128px #fff,
    577px 604px #fff, 777px 1665px #fff, 1121px 301px #fff, 680px 952px #fff,
    136px 1404px #fff, 1072px 188px #fff, 1987px 353px #fff, 794px 1040px #fff,
    504px 629px #fff, 530px 1681px #fff, 152px 88px #fff, 250px 1621px #fff,
    1223px 1464px #fff, 968px 149px #fff, 982px 888px #fff, 1067px 535px #fff,
    1092px 742px #fff, 947px 1469px #fff, 1225px 32px #fff, 1808px 424px #fff,
    1528px 918px #fff, 1102px 1478px #fff, 1776px 1157px #fff,
    1192px 1545px #fff, 1829px 321px #fff, 1066px 527px #fff, 1546px 1877px #fff,
    1441px 1296px #fff, 1461px 1264px #fff, 1170px 972px #fff,
    1496px 1537px #fff, 587px 717px #fff, 1743px 77px #fff, 657px 897px #fff,
    1702px 1714px #fff, 843px 710px #fff, 1058px 1032px #fff, 1129px 874px #fff,
    508px 1050px #fff, 1090px 1895px #fff, 425px 109px #fff, 618px 1488px #fff,
    402px 671px #fff, 1475px 642px #fff, 1483px 1277px #fff, 1084px 1697px #fff,
    369px 1974px #fff, 715px 1962px #fff, 1616px 329px #fff, 1113px 563px #fff,
    1938px 1477px #fff, 170px 566px #fff, 851px 891px #fff, 1768px 1505px #fff,
    1425px 357px #fff, 1883px 1219px #fff, 632px 843px #fff, 1605px 846px #fff,
    1450px 1432px #fff, 1770px 952px #fff, 1538px 118px #fff, 372px 1664px #fff,
    1992px 1663px #fff, 1514px 1641px #fff, 1411px 4px #fff, 524px 1487px #fff,
    418px 327px #fff, 650px 241px #fff, 944px 1664px #fff, 883px 1820px #fff,
    1303px 1430px #fff, 944px 595px #fff, 203px 542px #fff, 849px 1254px #fff,
    1939px 1909px #fff, 504px 1218px #fff, 79px 1736px #fff, 1225px 1346px #fff,
    287px 360px #fff, 1253px 1612px #fff, 1143px 1843px #fff, 1737px 219px #fff,
    889px 1443px #fff, 474px 428px #fff, 1518px 1890px #fff, 1088px 1186px #fff,
    744px 1604px #fff, 277px 1020px #fff, 1748px 106px #fff, 301px 691px #fff,
    1369px 1908px #fff, 539px 1548px #fff, 1318px 860px #fff, 1526px 199px #fff,
    656px 361px #fff, 1675px 705px #fff, 1826px 1902px #fff, 1399px 767px #fff,
    1101px 1428px #fff, 912px 1739px #fff, 888px 756px #fff, 1792px 1702px #fff,
    1038px 1685px #fff, 115px 1997px #fff, 1104px 1994px #fff, 1836px 375px #fff,
    991px 1986px #fff, 697px 547px #fff, 748px 1222px #fff, 460px 1330px #fff,
    1861px 1693px #fff, 1157px 567px #fff, 1198px 1367px #fff, 184px 369px #fff,
    1382px 1840px #fff, 1242px 627px #fff, 1452px 217px #fff, 326px 3px #fff,
    28px 884px #fff, 419px 397px #fff, 699px 518px #fff, 124px 83px #fff,
    1020px 195px #fff, 1184px 92px #fff, 784px 603px #fff, 1711px 411px #fff,
    179px 539px #fff, 1711px 1255px #fff, 481px 888px #fff, 1965px 1980px #fff,
    1071px 474px #fff, 1080px 73px #fff, 788px 441px #fff, 68px 1971px #fff,
    1941px 140px #fff, 1350px 1495px #fff, 1683px 794px #fff, 563px 472px #fff,
    299px 541px #fff, 874px 1132px #fff, 1921px 1166px #fff, 576px 985px #fff,
    90px 697px #fff, 1039px 1303px #fff, 1128px 154px #fff, 413px 473px #fff,
    350px 850px #fff, 897px 113px #fff, 971px 1263px #fff, 1696px 1597px #fff,
    1275px 56px #fff, 1022px 1888px #fff, 1545px 1944px #fff, 10px 1277px #fff,
    529px 1421px #fff, 202px 695px #fff, 806px 1436px #fff, 7px 999px #fff,
    1030px 1286px #fff, 267px 346px #fff, 818px 1813px #fff, 199px 834px #fff,
    1431px 132px #fff, 313px 594px #fff, 1725px 168px #fff, 1532px 63px #fff,
    1857px 925px #fff, 1929px 590px #fff, 1015px 1378px #fff, 456px 933px #fff,
    253px 732px #fff, 1158px 1041px #fff, 1366px 671px #fff, 1300px 468px #fff,
    1297px 431px #fff, 390px 1239px #fff, 1773px 503px #fff, 818px 602px #fff,
    1106px 293px #fff, 1530px 353px #fff, 1804px 1200px #fff, 1831px 94px #fff,
    1407px 370px #fff, 484px 854px #fff, 739px 614px #fff, 1345px 698px #fff,
    1326px 130px #fff, 701px 305px #fff, 941px 525px #fff, 1201px 1200px #fff,
    1156px 374px #fff, 1715px 1091px #fff, 1662px 847px #fff, 192px 347px #fff,
    625px 823px #fff, 75px 1396px #fff, 370px 1366px #fff, 770px 1154px #fff,
    1341px 1833px #fff, 232px 682px #fff, 907px 433px #fff, 1413px 106px #fff,
    731px 1810px #fff, 975px 570px #fff, 1746px 438px #fff, 151px 1693px #fff,
    845px 1836px #fff, 162px 417px #fff, 508px 1602px #fff, 890px 1877px #fff,
    129px 1354px #fff, 1707px 1891px #fff, 629px 755px #fff, 281px 1228px #fff,
    673px 1377px #fff, 751px 1025px #fff, 459px 453px #fff, 1460px 1819px #fff,
    957px 1241px #fff, 1581px 1795px #fff, 189px 854px #fff, 219px 514px #fff,
    42px 1456px #fff, 23px 848px #fff, 1857px 680px #fff, 998px 438px #fff,
    1623px 651px #fff, 1681px 1121px #fff, 1458px 416px #fff, 1473px 1048px #fff,
    1488px 638px #fff, 1125px 430px #fff, 952px 320px #fff, 1932px 973px #fff,
    1298px 855px #fff, 455px 1493px #fff, 1698px 638px #fff, 1006px 1821px #fff,
    949px 1859px #fff, 1029px 1941px #fff, 1729px 860px #fff, 1304px 1678px #fff,
    908px 210px #fff, 966px 852px #fff, 963px 1406px #fff, 608px 680px #fff,
    1333px 771px #fff, 944px 88px #fff, 867px 266px #fff, 1323px 661px #fff,
    642px 950px #fff, 707px 1685px #fff, 949px 1999px #fff, 5px 23px #fff,
    742px 948px #fff, 734px 536px #fff, 201px 1532px #fff, 1605px 330px #fff,
    1097px 1438px #fff, 1447px 1039px #fff, 1211px 1108px #fff,
    1949px 1958px #fff, 238px 1548px #fff, 390px 1712px #fff, 1123px 477px #fff,
    317px 1954px #fff, 374px 760px #fff, 1355px 940px #fff, 1576px 1486px #fff,
    754px 1557px #fff, 786px 1126px #fff, 1197px 1677px #fff, 1048px 243px #fff,
    1696px 250px #fff, 1629px 1156px #fff, 116px 1301px #fff, 1541px 1012px #fff,
    1985px 706px #fff, 1905px 97px #fff, 1636px 1145px #fff, 366px 213px #fff,
    31px 913px #fff, 1482px 421px #fff, 279px 311px #fff, 1320px 1605px #fff,
    1012px 1828px #fff, 155px 607px #fff, 1820px 1960px #fff, 1543px 1657px #fff,
    1025px 314px #fff, 1850px 71px #fff, 678px 503px #fff, 587px 1020px #fff,
    383px 836px #fff, 22px 506px #fff, 1879px 626px #fff, 717px 534px #fff,
    1861px 110px #fff, 1278px 506px #fff, 83px 226px #fff, 1770px 388px #fff,
    778px 1437px #fff, 1202px 1411px #fff, 1945px 1311px #fff, 463px 1589px #fff,
    1678px 1432px #fff, 1824px 1425px #fff, 633px 1122px #fff, 1971px 982px #fff,
    1342px 560px #fff, 718px 784px #fff, 168px 331px #fff, 812px 1806px #fff,
    737px 733px #fff, 542px 1039px #fff, 65px 540px #fff, 622px 1120px #fff,
    1369px 1980px #fff, 1207px 415px #fff, 8px 192px #fff, 1541px 1423px #fff,
    326px 427px #fff, 793px 1483px #fff, 482px 1732px #fff, 536px 1266px #fff,
    813px 729px #fff, 449px 548px #fff, 708px 58px #fff, 1296px 182px #fff,
    489px 89px #fff, 597px 419px #fff, 1079px 1921px #fff, 788px 737px #fff,
    1727px 1773px #fff, 1604px 1316px #fff, 89px 883px #fff, 866px 27px #fff,
    47px 36px #fff, 1170px 135px #fff, 394px 1823px #fff, 62px 1798px #fff,
    1319px 1725px #fff, 1804px 1013px #fff, 893px 1968px #fff, 838px 1316px #fff,
    1614px 1884px #fff, 1960px 79px #fff, 1677px 1525px #fff, 811px 723px #fff,
    1735px 1800px #fff, 586px 1784px #fff, 1088px 1232px #fff, 594px 984px #fff,
    1317px 418px #fff, 120px 1454px #fff, 1965px 70px #fff, 1381px 988px #fff,
    873px 189px #fff, 1858px 1785px #fff, 1482px 81px #fff, 349px 1472px #fff,
    350px 1345px #fff, 514px 1943px #fff, 269px 1948px #fff, 531px 104px #fff,
    727px 914px #fff, 1999px 585px #fff, 838px 1421px #fff, 23px 1135px #fff,
    1672px 1992px #fff, 540px 1193px #fff, 618px 1615px #fff, 324px 1871px #fff,
    2000px 1605px #fff, 102px 1220px #fff, 1584px 1271px #fff, 648px 107px #fff,
    1612px 482px #fff, 1603px 1840px #fff, 1133px 1235px #fff, 1082px 794px #fff,
    1359px 1799px #fff, 381px 1972px #fff, 904px 1847px #fff, 1036px 278px #fff,
    262px 1476px #fff, 655px 1330px #fff, 1854px 1750px #fff, 661px 115px #fff,
    1429px 106px #fff, 1394px 1618px #fff, 232px 1007px #fff, 846px 1966px #fff,
    277px 1025px #fff, 1369px 308px #fff, 1149px 354px #fff, 749px 1699px #fff,
    1387px 1529px #fff, 1114px 373px #fff, 302px 1001px #fff, 788px 1294px #fff,
    550px 1716px #fff, 499px 24px #fff, 478px 365px #fff, 252px 1091px #fff,
    256px 1433px #fff, 1560px 1287px #fff, 281px 1329px #fff, 978px 1329px #fff,
    490px 619px #fff, 1020px 1722px #fff, 679px 1345px #fff, 769px 1300px #fff,
    1395px 602px #fff, 232px 1385px #fff, 1019px 1536px #fff, 1157px 55px #fff,
    966px 714px #fff, 1467px 489px #fff, 1151px 843px #fff, 1264px 769px #fff,
    890px 815px #fff, 1371px 307px #fff, 22px 506px #fff, 1491px 1127px #fff,
    1560px 1916px #fff, 384px 797px #fff, 1468px 788px #fff, 655px 92px #fff,
    245px 1287px #fff, 1730px 151px #fff, 1932px 1178px #fff, 1716px 331px #fff,
    430px 159px #fff, 1064px 1384px #fff, 57px 67px #fff, 1207px 561px #fff,
    700px 1493px #fff, 1394px 515px #fff, 1378px 1727px #fff, 66px 402px #fff,
    1949px 1920px #fff, 435px 440px #fff, 1734px 576px #fff, 1119px 1591px #fff,
    1691px 681px #fff, 1186px 555px #fff, 518px 289px #fff, 1365px 1458px #fff,
    878px 1035px #fff, 728px 658px #fff, 155px 133px #fff, 368px 1158px #fff,
    666px 1749px #fff, 126px 395px #fff, 1197px 1280px #fff, 1721px 1261px #fff,
    695px 422px #fff, 523px 742px #fff, 1514px 1806px #fff, 114px 65px #fff,
    1746px 1883px #fff, 600px 991px #fff, 1281px 727px #fff, 1628px 147px #fff,
    872px 901px #fff, 73px 796px #fff, 506px 818px #fff, 291px 1603px #fff,
    439px 1055px #fff, 919px 1127px #fff, 252px 586px #fff, 1328px 1175px #fff,
    432px 1424px #fff;
  animation: animStar 50s linear infinite;
}
#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1548px 69px #fff, 283px 687px #fff, 1146px 1841px #fff,
    1627px 1525px #fff, 707px 957px #fff, 684px 1818px #fff, 1379px 832px #fff,
    1370px 29px #fff, 392px 1171px #fff, 1979px 15px #fff, 83px 1411px #fff,
    434px 1688px #fff, 340px 1431px #fff, 494px 890px #fff, 1961px 118px #fff,
    1591px 1465px #fff, 1656px 1557px #fff, 1652px 1793px #fff, 1357px 79px #fff,
    517px 554px #fff, 1025px 184px #fff, 1539px 1616px #fff, 1291px 600px #fff,
    471px 1643px #fff, 922px 1579px #fff, 1919px 1198px #fff, 989px 936px #fff,
    1632px 1125px #fff, 970px 234px #fff, 659px 375px #fff, 1472px 441px #fff,
    973px 997px #fff, 611px 1360px #fff, 1883px 622px #fff, 310px 1329px #fff,
    1164px 666px #fff, 46px 460px #fff, 1733px 47px #fff, 747px 663px #fff,
    1497px 1446px #fff, 1619px 1279px #fff, 282px 1382px #fff,
    1812px 1228px #fff, 1859px 1440px #fff, 1284px 1735px #fff,
    1808px 1147px #fff, 680px 1722px #fff, 827px 1667px #fff, 321px 1752px #fff,
    347px 110px #fff, 1882px 1801px #fff, 1082px 1457px #fff, 524px 236px #fff,
    1864px 1639px #fff, 1684px 1110px #fff, 1847px 729px #fff, 746px 758px #fff,
    304px 796px #fff, 858px 1581px #fff, 1492px 247px #fff, 620px 1768px #fff,
    1584px 260px #fff, 430px 1890px #fff, 1607px 605px #fff, 965px 1435px #fff,
    21px 879px #fff, 1261px 361px #fff, 1694px 452px #fff, 573px 1298px #fff,
    1844px 1441px #fff, 1142px 1474px #fff, 743px 1150px #fff,
    1915px 1050px #fff, 1537px 1591px #fff, 1640px 1827px #fff,
    1130px 328px #fff, 540px 1805px #fff, 518px 593px #fff, 1689px 337px #fff,
    38px 38px #fff, 903px 1584px #fff, 1059px 1207px #fff, 6px 569px #fff,
    468px 293px #fff, 789px 434px #fff, 715px 401px #fff, 66px 1685px #fff,
    1098px 300px #fff, 1324px 1829px #fff, 139px 592px #fff, 1769px 1868px #fff,
    1781px 1895px #fff, 47px 1672px #fff, 22px 1896px #fff, 1359px 1558px #fff,
    93px 1958px #fff, 1731px 1345px #fff, 135px 591px #fff, 1557px 612px #fff,
    202px 1321px #fff, 706px 283px #fff, 1993px 585px #fff, 804px 1465px #fff,
    825px 1015px #fff, 1272px 1791px #fff, 842px 46px #fff, 636px 1495px #fff,
    67px 1620px #fff, 1071px 1195px #fff, 516px 202px #fff, 973px 21px #fff,
    534px 981px #fff, 119px 1033px #fff, 95px 868px #fff, 1026px 154px #fff,
    113px 1178px #fff, 755px 1481px #fff, 1183px 1949px #fff, 1204px 476px #fff,
    862px 1725px #fff, 332px 375px #fff, 1207px 638px #fff, 1256px 990px #fff,
    1382px 1001px #fff, 1463px 773px #fff, 1210px 1641px #fff,
    1966px 1739px #fff, 221px 1465px #fff, 1199px 1579px #fff, 166px 235px #fff,
    1977px 780px #fff, 136px 1003px #fff, 1412px 1708px #fff, 1796px 617px #fff,
    1378px 845px #fff, 1174px 1754px #fff, 127px 85px #fff, 133px 1138px #fff,
    497px 769px #fff, 339px 1692px #fff, 332px 288px #fff, 1103px 1216px #fff,
    1480px 628px #fff, 971px 1090px #fff, 935px 1254px #fff, 1235px 1508px #fff,
    392px 263px #fff, 253px 1092px #fff, 698px 691px #fff, 827px 1337px #fff,
    1703px 316px #fff, 398px 326px #fff, 1858px 635px #fff, 1281px 700px #fff,
    1999px 470px #fff, 435px 477px #fff, 1742px 1485px #fff, 1014px 592px #fff,
    779px 1178px #fff, 1627px 319px #fff, 637px 853px #fff, 417px 1703px #fff,
    500px 345px #fff, 1411px 624px #fff, 535px 1383px #fff, 627px 1502px #fff,
    15px 960px #fff, 1912px 1335px #fff, 1417px 873px #fff, 1743px 202px #fff,
    354px 422px #fff, 455px 1913px #fff, 77px 932px #fff, 1009px 790px #fff,
    967px 342px #fff, 479px 492px #fff, 231px 1810px #fff, 1532px 894px #fff,
    965px 779px #fff, 1461px 14px #fff, 1312px 432px #fff, 1871px 1166px #fff,
    1804px 1070px #fff, 686px 214px #fff, 1037px 666px #fff, 863px 50px #fff,
    115px 1951px #fff, 1711px 1083px #fff, 43px 1335px #fff, 998px 1780px #fff,
    654px 977px #fff, 130px 666px #fff, 1280px 1035px #fff, 1995px 1236px #fff,
    1827px 1609px #fff, 122px 51px #fff, 293px 1092px #fff, 592px 1919px #fff,
    281px 1747px #fff, 1193px 1505px #fff, 708px 674px #fff, 722px 1493px #fff,
    1177px 990px #fff, 1408px 1212px #fff, 294px 334px #fff, 1862px 788px #fff,
    1909px 280px #fff, 163px 233px #fff, 1719px 825px #fff, 106px 800px #fff,
    1594px 1489px #fff, 324px 761px #fff, 9px 1531px #fff, 1039px 1684px #fff,
    908px 1043px #fff, 1023px 1601px #fff, 165px 959px #fff, 938px 1858px #fff,
    65px 458px #fff, 1237px 1732px #fff, 1993px 169px #fff, 1641px 707px #fff,
    1174px 106px #fff, 197px 905px #fff, 74px 564px #fff, 1160px 128px #fff,
    577px 604px #fff, 777px 1665px #fff, 1121px 301px #fff, 680px 952px #fff,
    136px 1404px #fff, 1072px 188px #fff, 1987px 353px #fff, 794px 1040px #fff,
    504px 629px #fff, 530px 1681px #fff, 152px 88px #fff, 250px 1621px #fff,
    1223px 1464px #fff, 968px 149px #fff, 982px 888px #fff, 1067px 535px #fff,
    1092px 742px #fff, 947px 1469px #fff, 1225px 32px #fff, 1808px 424px #fff,
    1528px 918px #fff, 1102px 1478px #fff, 1776px 1157px #fff,
    1192px 1545px #fff, 1829px 321px #fff, 1066px 527px #fff, 1546px 1877px #fff,
    1441px 1296px #fff, 1461px 1264px #fff, 1170px 972px #fff,
    1496px 1537px #fff, 587px 717px #fff, 1743px 77px #fff, 657px 897px #fff,
    1702px 1714px #fff, 843px 710px #fff, 1058px 1032px #fff, 1129px 874px #fff,
    508px 1050px #fff, 1090px 1895px #fff, 425px 109px #fff, 618px 1488px #fff,
    402px 671px #fff, 1475px 642px #fff, 1483px 1277px #fff, 1084px 1697px #fff,
    369px 1974px #fff, 715px 1962px #fff, 1616px 329px #fff, 1113px 563px #fff,
    1938px 1477px #fff, 170px 566px #fff, 851px 891px #fff, 1768px 1505px #fff,
    1425px 357px #fff, 1883px 1219px #fff, 632px 843px #fff, 1605px 846px #fff,
    1450px 1432px #fff, 1770px 952px #fff, 1538px 118px #fff, 372px 1664px #fff,
    1992px 1663px #fff, 1514px 1641px #fff, 1411px 4px #fff, 524px 1487px #fff,
    418px 327px #fff, 650px 241px #fff, 944px 1664px #fff, 883px 1820px #fff,
    1303px 1430px #fff, 944px 595px #fff, 203px 542px #fff, 849px 1254px #fff,
    1939px 1909px #fff, 504px 1218px #fff, 79px 1736px #fff, 1225px 1346px #fff,
    287px 360px #fff, 1253px 1612px #fff, 1143px 1843px #fff, 1737px 219px #fff,
    889px 1443px #fff, 474px 428px #fff, 1518px 1890px #fff, 1088px 1186px #fff,
    744px 1604px #fff, 277px 1020px #fff, 1748px 106px #fff, 301px 691px #fff,
    1369px 1908px #fff, 539px 1548px #fff, 1318px 860px #fff, 1526px 199px #fff,
    656px 361px #fff, 1675px 705px #fff, 1826px 1902px #fff, 1399px 767px #fff,
    1101px 1428px #fff, 912px 1739px #fff, 888px 756px #fff, 1792px 1702px #fff,
    1038px 1685px #fff, 115px 1997px #fff, 1104px 1994px #fff, 1836px 375px #fff,
    991px 1986px #fff, 697px 547px #fff, 748px 1222px #fff, 460px 1330px #fff,
    1861px 1693px #fff, 1157px 567px #fff, 1198px 1367px #fff, 184px 369px #fff,
    1382px 1840px #fff, 1242px 627px #fff, 1452px 217px #fff, 326px 3px #fff,
    28px 884px #fff, 419px 397px #fff, 699px 518px #fff, 124px 83px #fff,
    1020px 195px #fff, 1184px 92px #fff, 784px 603px #fff, 1711px 411px #fff,
    179px 539px #fff, 1711px 1255px #fff, 481px 888px #fff, 1965px 1980px #fff,
    1071px 474px #fff, 1080px 73px #fff, 788px 441px #fff, 68px 1971px #fff,
    1941px 140px #fff, 1350px 1495px #fff, 1683px 794px #fff, 563px 472px #fff,
    299px 541px #fff, 874px 1132px #fff, 1921px 1166px #fff, 576px 985px #fff,
    90px 697px #fff, 1039px 1303px #fff, 1128px 154px #fff, 413px 473px #fff,
    350px 850px #fff, 897px 113px #fff, 971px 1263px #fff, 1696px 1597px #fff,
    1275px 56px #fff, 1022px 1888px #fff, 1545px 1944px #fff, 10px 1277px #fff,
    529px 1421px #fff, 202px 695px #fff, 806px 1436px #fff, 7px 999px #fff,
    1030px 1286px #fff, 267px 346px #fff, 818px 1813px #fff, 199px 834px #fff,
    1431px 132px #fff, 313px 594px #fff, 1725px 168px #fff, 1532px 63px #fff,
    1857px 925px #fff, 1929px 590px #fff, 1015px 1378px #fff, 456px 933px #fff,
    253px 732px #fff, 1158px 1041px #fff, 1366px 671px #fff, 1300px 468px #fff,
    1297px 431px #fff, 390px 1239px #fff, 1773px 503px #fff, 818px 602px #fff,
    1106px 293px #fff, 1530px 353px #fff, 1804px 1200px #fff, 1831px 94px #fff,
    1407px 370px #fff, 484px 854px #fff, 739px 614px #fff, 1345px 698px #fff,
    1326px 130px #fff, 701px 305px #fff, 941px 525px #fff, 1201px 1200px #fff,
    1156px 374px #fff, 1715px 1091px #fff, 1662px 847px #fff, 192px 347px #fff,
    625px 823px #fff, 75px 1396px #fff, 370px 1366px #fff, 770px 1154px #fff,
    1341px 1833px #fff, 232px 682px #fff, 907px 433px #fff, 1413px 106px #fff,
    731px 1810px #fff, 975px 570px #fff, 1746px 438px #fff, 151px 1693px #fff,
    845px 1836px #fff, 162px 417px #fff, 508px 1602px #fff, 890px 1877px #fff,
    129px 1354px #fff, 1707px 1891px #fff, 629px 755px #fff, 281px 1228px #fff,
    673px 1377px #fff, 751px 1025px #fff, 459px 453px #fff, 1460px 1819px #fff,
    957px 1241px #fff, 1581px 1795px #fff, 189px 854px #fff, 219px 514px #fff,
    42px 1456px #fff, 23px 848px #fff, 1857px 680px #fff, 998px 438px #fff,
    1623px 651px #fff, 1681px 1121px #fff, 1458px 416px #fff, 1473px 1048px #fff,
    1488px 638px #fff, 1125px 430px #fff, 952px 320px #fff, 1932px 973px #fff,
    1298px 855px #fff, 455px 1493px #fff, 1698px 638px #fff, 1006px 1821px #fff,
    949px 1859px #fff, 1029px 1941px #fff, 1729px 860px #fff, 1304px 1678px #fff,
    908px 210px #fff, 966px 852px #fff, 963px 1406px #fff, 608px 680px #fff,
    1333px 771px #fff, 944px 88px #fff, 867px 266px #fff, 1323px 661px #fff,
    642px 950px #fff, 707px 1685px #fff, 949px 1999px #fff, 5px 23px #fff,
    742px 948px #fff, 734px 536px #fff, 201px 1532px #fff, 1605px 330px #fff,
    1097px 1438px #fff, 1447px 1039px #fff, 1211px 1108px #fff,
    1949px 1958px #fff, 238px 1548px #fff, 390px 1712px #fff, 1123px 477px #fff,
    317px 1954px #fff, 374px 760px #fff, 1355px 940px #fff, 1576px 1486px #fff,
    754px 1557px #fff, 786px 1126px #fff, 1197px 1677px #fff, 1048px 243px #fff,
    1696px 250px #fff, 1629px 1156px #fff, 116px 1301px #fff, 1541px 1012px #fff,
    1985px 706px #fff, 1905px 97px #fff, 1636px 1145px #fff, 366px 213px #fff,
    31px 913px #fff, 1482px 421px #fff, 279px 311px #fff, 1320px 1605px #fff,
    1012px 1828px #fff, 155px 607px #fff, 1820px 1960px #fff, 1543px 1657px #fff,
    1025px 314px #fff, 1850px 71px #fff, 678px 503px #fff, 587px 1020px #fff,
    383px 836px #fff, 22px 506px #fff, 1879px 626px #fff, 717px 534px #fff,
    1861px 110px #fff, 1278px 506px #fff, 83px 226px #fff, 1770px 388px #fff,
    778px 1437px #fff, 1202px 1411px #fff, 1945px 1311px #fff, 463px 1589px #fff,
    1678px 1432px #fff, 1824px 1425px #fff, 633px 1122px #fff, 1971px 982px #fff,
    1342px 560px #fff, 718px 784px #fff, 168px 331px #fff, 812px 1806px #fff,
    737px 733px #fff, 542px 1039px #fff, 65px 540px #fff, 622px 1120px #fff,
    1369px 1980px #fff, 1207px 415px #fff, 8px 192px #fff, 1541px 1423px #fff,
    326px 427px #fff, 793px 1483px #fff, 482px 1732px #fff, 536px 1266px #fff,
    813px 729px #fff, 449px 548px #fff, 708px 58px #fff, 1296px 182px #fff,
    489px 89px #fff, 597px 419px #fff, 1079px 1921px #fff, 788px 737px #fff,
    1727px 1773px #fff, 1604px 1316px #fff, 89px 883px #fff, 866px 27px #fff,
    47px 36px #fff, 1170px 135px #fff, 394px 1823px #fff, 62px 1798px #fff,
    1319px 1725px #fff, 1804px 1013px #fff, 893px 1968px #fff, 838px 1316px #fff,
    1614px 1884px #fff, 1960px 79px #fff, 1677px 1525px #fff, 811px 723px #fff,
    1735px 1800px #fff, 586px 1784px #fff, 1088px 1232px #fff, 594px 984px #fff,
    1317px 418px #fff, 120px 1454px #fff, 1965px 70px #fff, 1381px 988px #fff,
    873px 189px #fff, 1858px 1785px #fff, 1482px 81px #fff, 349px 1472px #fff,
    350px 1345px #fff, 514px 1943px #fff, 269px 1948px #fff, 531px 104px #fff,
    727px 914px #fff, 1999px 585px #fff, 838px 1421px #fff, 23px 1135px #fff,
    1672px 1992px #fff, 540px 1193px #fff, 618px 1615px #fff, 324px 1871px #fff,
    2000px 1605px #fff, 102px 1220px #fff, 1584px 1271px #fff, 648px 107px #fff,
    1612px 482px #fff, 1603px 1840px #fff, 1133px 1235px #fff, 1082px 794px #fff,
    1359px 1799px #fff, 381px 1972px #fff, 904px 1847px #fff, 1036px 278px #fff,
    262px 1476px #fff, 655px 1330px #fff, 1854px 1750px #fff, 661px 115px #fff,
    1429px 106px #fff, 1394px 1618px #fff, 232px 1007px #fff, 846px 1966px #fff,
    277px 1025px #fff, 1369px 308px #fff, 1149px 354px #fff, 749px 1699px #fff,
    1387px 1529px #fff, 1114px 373px #fff, 302px 1001px #fff, 788px 1294px #fff,
    550px 1716px #fff, 499px 24px #fff, 478px 365px #fff, 252px 1091px #fff,
    256px 1433px #fff, 1560px 1287px #fff, 281px 1329px #fff, 978px 1329px #fff,
    490px 619px #fff, 1020px 1722px #fff, 679px 1345px #fff, 769px 1300px #fff,
    1395px 602px #fff, 232px 1385px #fff, 1019px 1536px #fff, 1157px 55px #fff,
    966px 714px #fff, 1467px 489px #fff, 1151px 843px #fff, 1264px 769px #fff,
    890px 815px #fff, 1371px 307px #fff, 22px 506px #fff, 1491px 1127px #fff,
    1560px 1916px #fff, 384px 797px #fff, 1468px 788px #fff, 655px 92px #fff,
    245px 1287px #fff, 1730px 151px #fff, 1932px 1178px #fff, 1716px 331px #fff,
    430px 159px #fff, 1064px 1384px #fff, 57px 67px #fff, 1207px 561px #fff,
    700px 1493px #fff, 1394px 515px #fff, 1378px 1727px #fff, 66px 402px #fff,
    1949px 1920px #fff, 435px 440px #fff, 1734px 576px #fff, 1119px 1591px #fff,
    1691px 681px #fff, 1186px 555px #fff, 518px 289px #fff, 1365px 1458px #fff,
    878px 1035px #fff, 728px 658px #fff, 155px 133px #fff, 368px 1158px #fff,
    666px 1749px #fff, 126px 395px #fff, 1197px 1280px #fff, 1721px 1261px #fff,
    695px 422px #fff, 523px 742px #fff, 1514px 1806px #fff, 114px 65px #fff,
    1746px 1883px #fff, 600px 991px #fff, 1281px 727px #fff, 1628px 147px #fff,
    872px 901px #fff, 73px 796px #fff, 506px 818px #fff, 291px 1603px #fff,
    439px 1055px #fff, 919px 1127px #fff, 252px 586px #fff, 1328px 1175px #fff,
    432px 1424px #fff;
}

#stars2 {
  width: 2px;
  height: 2px;
  position: absolute;
  background: transparent;
  box-shadow: 1202px 1097px #fff, 743px 463px #fff, 31px 820px #fff,
    1357px 1111px #fff, 1216px 742px #fff, 1077px 819px #fff, 1012px 1227px #fff,
    183px 856px #fff, 352px 1221px #fff, 792px 1304px #fff, 153px 1772px #fff,
    369px 905px #fff, 30px 1561px #fff, 1624px 159px #fff, 1013px 1878px #fff,
    1631px 1347px #fff, 942px 246px #fff, 1189px 945px #fff, 846px 1983px #fff,
    650px 292px #fff, 1690px 1615px #fff, 765px 677px #fff, 345px 713px #fff,
    1490px 1075px #fff, 864px 250px #fff, 1859px 1550px #fff, 1281px 517px #fff,
    105px 887px #fff, 1397px 580px #fff, 409px 1716px #fff, 1293px 24px #fff,
    1535px 665px #fff, 195px 768px #fff, 257px 1247px #fff, 1034px 493px #fff,
    1304px 896px #fff, 336px 443px #fff, 1772px 405px #fff, 64px 1218px #fff,
    1695px 405px #fff, 318px 386px #fff, 880px 9px #fff, 295px 1865px #fff,
    1668px 1260px #fff, 213px 1795px #fff, 1322px 1816px #fff,
    1587px 1435px #fff, 1608px 1752px #fff, 1386px 1424px #fff,
    738px 1770px #fff, 1212px 1531px #fff, 514px 1507px #fff, 266px 407px #fff,
    1269px 17px #fff, 1941px 1483px #fff, 801px 368px #fff, 575px 723px #fff,
    412px 389px #fff, 425px 1424px #fff, 1107px 530px #fff, 464px 902px #fff,
    923px 1086px #fff, 1457px 238px #fff, 1243px 1193px #fff, 802px 405px #fff,
    707px 480px #fff, 1794px 864px #fff, 244px 403px #fff, 805px 1952px #fff,
    735px 50px #fff, 1630px 947px #fff, 1729px 1773px #fff, 1269px 439px #fff,
    1470px 633px #fff, 551px 1845px #fff, 1953px 1705px #fff, 1574px 1003px #fff,
    439px 280px #fff, 281px 963px #fff, 1592px 862px #fff, 704px 1783px #fff,
    657px 1424px #fff, 1688px 933px #fff, 1527px 10px #fff, 947px 1594px #fff,
    1822px 1800px #fff, 1436px 1227px #fff, 26px 1216px #fff, 1725px 57px #fff,
    1168px 508px #fff, 536px 1541px #fff, 40px 45px #fff, 1863px 945px #fff,
    890px 73px #fff, 684px 595px #fff, 73px 1058px #fff, 698px 1904px #fff,
    706px 918px #fff, 834px 1242px #fff, 735px 637px #fff, 191px 1023px #fff,
    1409px 1618px #fff, 199px 1081px #fff, 349px 1555px #fff, 1820px 775px #fff,
    944px 1574px #fff, 1319px 1267px #fff, 485px 377px #fff, 1121px 798px #fff,
    1248px 975px #fff, 1351px 1160px #fff, 1795px 108px #fff, 1191px 944px #fff,
    449px 1230px #fff, 81px 1548px #fff, 1554px 110px #fff, 563px 1323px #fff,
    1174px 417px #fff, 893px 735px #fff, 791px 1261px #fff, 1476px 1281px #fff,
    789px 146px #fff, 673px 1783px #fff, 1781px 1152px #fff, 1209px 31px #fff,
    895px 1505px #fff, 1918px 921px #fff, 761px 451px #fff, 812px 172px #fff,
    602px 1524px #fff, 1608px 152px #fff, 269px 293px #fff, 1492px 1181px #fff,
    1868px 1117px #fff, 110px 1945px #fff, 864px 1860px #fff, 963px 1056px #fff,
    496px 518px #fff, 1013px 852px #fff, 1469px 103px #fff, 278px 1516px #fff,
    579px 483px #fff, 1382px 685px #fff, 1342px 790px #fff, 271px 1681px #fff,
    1824px 1389px #fff, 1703px 1908px #fff, 232px 1055px #fff, 1350px 83px #fff,
    1827px 625px #fff, 10px 1067px #fff, 941px 1940px #fff, 906px 1428px #fff,
    331px 277px #fff, 361px 451px #fff, 427px 906px #fff, 482px 1889px #fff,
    1597px 44px #fff, 907px 684px #fff, 671px 257px #fff, 388px 609px #fff,
    861px 196px #fff, 917px 1696px #fff, 836px 326px #fff, 1770px 1148px #fff,
    1172px 726px #fff, 1121px 680px #fff, 802px 1346px #fff, 416px 75px #fff,
    1902px 1884px #fff, 89px 808px #fff, 1017px 190px #fff, 393px 597px #fff,
    326px 1771px #fff, 1247px 282px #fff, 692px 335px #fff, 1669px 478px #fff,
    117px 297px #fff, 343px 542px #fff, 1359px 51px #fff, 282px 1227px #fff,
    492px 1094px #fff, 300px 404px #fff, 1029px 1880px #fff, 745px 912px #fff,
    903px 969px #fff, 1920px 886px #fff, 1910px 1022px #fff, 1153px 376px #fff,
    1730px 1297px #fff, 1002px 103px #fff, 1759px 653px #fff, 1690px 511px #fff,
    621px 1986px #fff, 1383px 1679px #fff, 1145px 589px #fff, 1430px 294px #fff,
    962px 1351px #fff, 1610px 1716px #fff, 744px 1046px #fff;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1202px 1097px #fff, 743px 463px #fff, 31px 820px #fff,
    1357px 1111px #fff, 1216px 742px #fff, 1077px 819px #fff, 1012px 1227px #fff,
    183px 856px #fff, 352px 1221px #fff, 792px 1304px #fff, 153px 1772px #fff,
    369px 905px #fff, 30px 1561px #fff, 1624px 159px #fff, 1013px 1878px #fff,
    1631px 1347px #fff, 942px 246px #fff, 1189px 945px #fff, 846px 1983px #fff,
    650px 292px #fff, 1690px 1615px #fff, 765px 677px #fff, 345px 713px #fff,
    1490px 1075px #fff, 864px 250px #fff, 1859px 1550px #fff, 1281px 517px #fff,
    105px 887px #fff, 1397px 580px #fff, 409px 1716px #fff, 1293px 24px #fff,
    1535px 665px #fff, 195px 768px #fff, 257px 1247px #fff, 1034px 493px #fff,
    1304px 896px #fff, 336px 443px #fff, 1772px 405px #fff, 64px 1218px #fff,
    1695px 405px #fff, 318px 386px #fff, 880px 9px #fff, 295px 1865px #fff,
    1668px 1260px #fff, 213px 1795px #fff, 1322px 1816px #fff,
    1587px 1435px #fff, 1608px 1752px #fff, 1386px 1424px #fff,
    738px 1770px #fff, 1212px 1531px #fff, 514px 1507px #fff, 266px 407px #fff,
    1269px 17px #fff, 1941px 1483px #fff, 801px 368px #fff, 575px 723px #fff,
    412px 389px #fff, 425px 1424px #fff, 1107px 530px #fff, 464px 902px #fff,
    923px 1086px #fff, 1457px 238px #fff, 1243px 1193px #fff, 802px 405px #fff,
    707px 480px #fff, 1794px 864px #fff, 244px 403px #fff, 805px 1952px #fff,
    735px 50px #fff, 1630px 947px #fff, 1729px 1773px #fff, 1269px 439px #fff,
    1470px 633px #fff, 551px 1845px #fff, 1953px 1705px #fff, 1574px 1003px #fff,
    439px 280px #fff, 281px 963px #fff, 1592px 862px #fff, 704px 1783px #fff,
    657px 1424px #fff, 1688px 933px #fff, 1527px 10px #fff, 947px 1594px #fff,
    1822px 1800px #fff, 1436px 1227px #fff, 26px 1216px #fff, 1725px 57px #fff,
    1168px 508px #fff, 536px 1541px #fff, 40px 45px #fff, 1863px 945px #fff,
    890px 73px #fff, 684px 595px #fff, 73px 1058px #fff, 698px 1904px #fff,
    706px 918px #fff, 834px 1242px #fff, 735px 637px #fff, 191px 1023px #fff,
    1409px 1618px #fff, 199px 1081px #fff, 349px 1555px #fff, 1820px 775px #fff,
    944px 1574px #fff, 1319px 1267px #fff, 485px 377px #fff, 1121px 798px #fff,
    1248px 975px #fff, 1351px 1160px #fff, 1795px 108px #fff, 1191px 944px #fff,
    449px 1230px #fff, 81px 1548px #fff, 1554px 110px #fff, 563px 1323px #fff,
    1174px 417px #fff, 893px 735px #fff, 791px 1261px #fff, 1476px 1281px #fff,
    789px 146px #fff, 673px 1783px #fff, 1781px 1152px #fff, 1209px 31px #fff,
    895px 1505px #fff, 1918px 921px #fff, 761px 451px #fff, 812px 172px #fff,
    602px 1524px #fff, 1608px 152px #fff, 269px 293px #fff, 1492px 1181px #fff,
    1868px 1117px #fff, 110px 1945px #fff, 864px 1860px #fff, 963px 1056px #fff,
    496px 518px #fff, 1013px 852px #fff, 1469px 103px #fff, 278px 1516px #fff,
    579px 483px #fff, 1382px 685px #fff, 1342px 790px #fff, 271px 1681px #fff,
    1824px 1389px #fff, 1703px 1908px #fff, 232px 1055px #fff, 1350px 83px #fff,
    1827px 625px #fff, 10px 1067px #fff, 941px 1940px #fff, 906px 1428px #fff,
    331px 277px #fff, 361px 451px #fff, 427px 906px #fff, 482px 1889px #fff,
    1597px 44px #fff, 907px 684px #fff, 671px 257px #fff, 388px 609px #fff,
    861px 196px #fff, 917px 1696px #fff, 836px 326px #fff, 1770px 1148px #fff,
    1172px 726px #fff, 1121px 680px #fff, 802px 1346px #fff, 416px 75px #fff,
    1902px 1884px #fff, 89px 808px #fff, 1017px 190px #fff, 393px 597px #fff,
    326px 1771px #fff, 1247px 282px #fff, 692px 335px #fff, 1669px 478px #fff,
    117px 297px #fff, 343px 542px #fff, 1359px 51px #fff, 282px 1227px #fff,
    492px 1094px #fff, 300px 404px #fff, 1029px 1880px #fff, 745px 912px #fff,
    903px 969px #fff, 1920px 886px #fff, 1910px 1022px #fff, 1153px 376px #fff,
    1730px 1297px #fff, 1002px 103px #fff, 1759px 653px #fff, 1690px 511px #fff,
    621px 1986px #fff, 1383px 1679px #fff, 1145px 589px #fff, 1430px 294px #fff,
    962px 1351px #fff, 1610px 1716px #fff, 744px 1046px #fff;
}

#stars3 {
  width: 3px;
  height: 3px;
  position: absolute;
  background: transparent;
  box-shadow: 702px 1612px #fff, 1759px 851px #fff, 1486px 448px #fff,
    515px 1553px #fff, 674px 810px #fff, 380px 1477px #fff, 1790px 849px #fff,
    1779px 842px #fff, 1927px 335px #fff, 933px 376px #fff, 1162px 583px #fff,
    1916px 282px #fff, 886px 1980px #fff, 972px 1116px #fff, 297px 57px #fff,
    1771px 593px #fff, 656px 404px #fff, 1955px 152px #fff, 973px 1881px #fff,
    452px 1768px #fff, 1740px 1590px #fff, 1197px 720px #fff, 846px 1828px #fff,
    1915px 825px #fff, 1747px 1353px #fff, 604px 582px #fff, 1625px 170px #fff,
    708px 753px #fff, 1324px 919px #fff, 555px 243px #fff, 953px 1020px #fff,
    771px 814px #fff, 1273px 1295px #fff, 332px 1481px #fff, 988px 1435px #fff,
    1329px 1139px #fff, 322px 1445px #fff, 1983px 495px #fff, 400px 1854px #fff,
    1420px 797px #fff, 1458px 1644px #fff, 33px 1710px #fff, 295px 1004px #fff,
    1855px 1715px #fff, 21px 733px #fff, 334px 1957px #fff, 1906px 358px #fff,
    770px 1886px #fff, 909px 664px #fff, 989px 946px #fff, 1313px 644px #fff,
    1976px 85px #fff, 1023px 93px #fff, 1955px 1461px #fff, 1087px 1766px #fff,
    271px 673px #fff, 34px 1907px #fff, 1519px 773px #fff, 1896px 752px #fff,
    1146px 459px #fff, 564px 958px #fff, 1638px 1337px #fff, 1331px 822px #fff,
    1365px 283px #fff, 1726px 1844px #fff, 974px 659px #fff, 1436px 1686px #fff,
    1373px 1567px #fff, 1552px 72px #fff, 851px 299px #fff, 1016px 829px #fff,
    49px 913px #fff, 1322px 193px #fff, 1092px 1670px #fff, 1008px 701px #fff,
    442px 1818px #fff, 1022px 1614px #fff, 1994px 138px #fff, 1232px 895px #fff,
    463px 614px #fff, 1737px 144px #fff, 1069px 1543px #fff, 51px 1105px #fff,
    1004px 1036px #fff, 1561px 1616px #fff, 1308px 1741px #fff,
    1268px 1309px #fff, 1732px 1557px #fff, 1376px 1578px #fff,
    1583px 1504px #fff, 715px 1619px #fff, 1011px 35px #fff, 1589px 1066px #fff,
    616px 1732px #fff, 1464px 546px #fff, 1588px 1253px #fff, 697px 919px #fff,
    443px 1601px #fff, 1661px 779px #fff, 1975px 1362px #fff;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 702px 1612px #fff, 1759px 851px #fff, 1486px 448px #fff,
    515px 1553px #fff, 674px 810px #fff, 380px 1477px #fff, 1790px 849px #fff,
    1779px 842px #fff, 1927px 335px #fff, 933px 376px #fff, 1162px 583px #fff,
    1916px 282px #fff, 886px 1980px #fff, 972px 1116px #fff, 297px 57px #fff,
    1771px 593px #fff, 656px 404px #fff, 1955px 152px #fff, 973px 1881px #fff,
    452px 1768px #fff, 1740px 1590px #fff, 1197px 720px #fff, 846px 1828px #fff,
    1915px 825px #fff, 1747px 1353px #fff, 604px 582px #fff, 1625px 170px #fff,
    708px 753px #fff, 1324px 919px #fff, 555px 243px #fff, 953px 1020px #fff,
    771px 814px #fff, 1273px 1295px #fff, 332px 1481px #fff, 988px 1435px #fff,
    1329px 1139px #fff, 322px 1445px #fff, 1983px 495px #fff, 400px 1854px #fff,
    1420px 797px #fff, 1458px 1644px #fff, 33px 1710px #fff, 295px 1004px #fff,
    1855px 1715px #fff, 21px 733px #fff, 334px 1957px #fff, 1906px 358px #fff,
    770px 1886px #fff, 909px 664px #fff, 989px 946px #fff, 1313px 644px #fff,
    1976px 85px #fff, 1023px 93px #fff, 1955px 1461px #fff, 1087px 1766px #fff,
    271px 673px #fff, 34px 1907px #fff, 1519px 773px #fff, 1896px 752px #fff,
    1146px 459px #fff, 564px 958px #fff, 1638px 1337px #fff, 1331px 822px #fff,
    1365px 283px #fff, 1726px 1844px #fff, 974px 659px #fff, 1436px 1686px #fff,
    1373px 1567px #fff, 1552px 72px #fff, 851px 299px #fff, 1016px 829px #fff,
    49px 913px #fff, 1322px 193px #fff, 1092px 1670px #fff, 1008px 701px #fff,
    442px 1818px #fff, 1022px 1614px #fff, 1994px 138px #fff, 1232px 895px #fff,
    463px 614px #fff, 1737px 144px #fff, 1069px 1543px #fff, 51px 1105px #fff,
    1004px 1036px #fff, 1561px 1616px #fff, 1308px 1741px #fff,
    1268px 1309px #fff, 1732px 1557px #fff, 1376px 1578px #fff,
    1583px 1504px #fff, 715px 1619px #fff, 1011px 35px #fff, 1589px 1066px #fff,
    616px 1732px #fff, 1464px 546px #fff, 1588px 1253px #fff, 697px 919px #fff,
    443px 1601px #fff, 1661px 779px #fff, 1975px 1362px #fff;
}

#title {
  color: #fff;
  text-align: center;
  font-family: "lato", sans-serif;
  font-weight: 500;
  font-size: 50px;
  letter-spacing: 10px;
  margin-top: -60px;
  padding-left: 10px;
  background: -webkit-linear-gradient(white, #38495a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#title span {
  font-size: 30px;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
